<button class="btn btn-primary center-block" ng-click="addOrder()" ng-disabled="!isAuthenticated()">Add new order</button>

<table class="table">
	<caption>Orders</caption>
		<tr>
			<th>Id</th>
			<th>Finalized</th>
			<th>Ordered</th>
			<th>Delivered</th>
			<th>Finalize</th>
				
		</tr>
	    <tr ng-repeat="order in orders">
	        <td>{{order.id}}</td>
	       	<td>{{order.finalized}}</td>
	       	<td>{{order.ordered}}</td>
	       	<td>{{order.delivered}}</td>
	       	<td><a type="button" class="btn btn-primary" ng-href="/showorder/{{order.id}}" >Show order</a></td>
	    </tr>
	</table>
	