<button class="btn btn-primary center-block" ng-click="addOrder()" ng-disabled="!isAuthenticated()">Add new order</button>

<h1 ng-show="checkboxModel.value===''">All orders</h1>
<h1 ng-show="checkboxModel.value==='false'">Active orders</h1>
<p><input type="checkbox" ng-model="checkboxModel.value" ng-true-value="'false'" ng-false-value="''"> - show only active orders.</p>


<table class="table table-striped">
	<caption>Orders</caption>
		<tr>
			<th>Id</th>
			<th>Finalized</th>
			<th>Ordered</th>
			<th>Delivered</th>
			<th>Finalize</th>
				
		</tr>
	    <tr ng-repeat="order in orders | filter:{ finalized: checkboxModel.value }">
	        <td>{{order.id}}</td>
	       	<td>{{order.finalized}}</td>
	       	<td>{{order.ordered}}</td>
	       	<td>{{order.delivered}}</td>
	       	<td><a type="button" class="btn btn-primary" ng-href="/showorder/{{order.id}}" >Show order</a></td>
	    </tr>
	</table>	
	