<div>
	<form class="tab-pane active form-horizontal col-md-offset-2" novalidate name="orderForm" class="simple-form"  ng-submit="save()">
	    <div class="form-group" ng-class="{'has-error' : submitted && orderForm.name.$invalid}">
    		<label class="control-label col-md-3">Name <span class="required">* </span> </label>
    			<div class="col-md-4">
        			<input type="text" name="name" class="form-control" ng-model="newOrder.name" required placeholder="Food's name"/>
    			</div>
    		<p ng-show=" submitted && orderForm.name.$invalid" class="help-block">First name is required.</p>
		</div>
	

		<div class="form-group" ng-class="{'has-error' : submitted && orderForm.price.$invalid}">
    		<label class="control-label col-md-3">Price <span class="required">* </span> </label>
    			<div class="col-md-4">
        			<input type="number" name="price" class="form-control" ng-model="newOrder.price" required placeholder="Price"/>
    			</div>
    		<p ng-show=" submitted && orderForm.price.$error.required" class="help-block">Price cannot be blank.</p>
    		<p ng-show=" submitted && orderForm.price.$invalid && !orderForm.price.$error.required" class="help-block">Price is invalid.</p>
		</div>
	    <div class="col-md-offset-3">
        <button type="submit" class="btn btn-primary" ng-click="submitted=true">Submit</button>
    	</div>
  	</form>
</div>
